@tailwind base;
@tailwind components;
@tailwind utilities;

.notifications {
    position: relative;
    display: inline-block;
}

.notifications-link {
    font-size: 1.5rem;
    color: #000;
}

.notifications-icon {
    position: relative;
}

.notification-count {
    position: absolute;
    top: 0;
    right: 0.7rem;
    padding: 0.2em;
    color: #fff;
    font-weight: 700;
    font-size: 0.8rem;
}

.badge {
    background-color: red;
    color: white;
    border-radius: 50%;
    margin-right: 0.5em;
    padding: 0.35rem 0.75rem;
    font-size: 0.75rem;
    font-weight: bold;
}


select.dt-input, select.dt-input option {
    color: #0f2020 !important;
}

.dt-layout-row {
    margin: 0.5em 0;
}


/* Projects Extra CSS */

.hazardzone {
    flex-wrap: wrap;
    gap: 10px;
}

.project-table-status {
    padding: 0.4em 0.6em;
    background-color: rgba(70, 55, 71, 0.65);
}

.open {
    background-color: rgba(66, 163, 66, 0.651);
}

.in-progress {
    background-color: rgba(250, 234, 18, 0.45);
}

/* Tasks Extra CSS */
.low {
    position: relative;
    padding: 0.4rem 0.5rem;
    background-color: #01719e;
}

.medium {
    position: relative;
    padding: 0.4rem 0.5rem;
    background-color: #c9ab00;
}

.high {
    position: relative;
    padding: 0.4rem 0.5rem;
    background-color: #c00e02;
}

.urgent {
    position: relative;
    padding: 0.4rem 0.5rem;
    background-color: #4b00a0;
}
